:root {
  --headline-font-family: "Playfair Display", serif;
  --main-font-family: "Poppins", sans-serif;
  --main-brand-color: #f9f7fe;
  --secondary-brand-color: #24b6ca;
}

nav {
  padding: 20px 0 0 20px;
}

nav li {
  display: inline;
  margin-right: 20px;
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 38px;
}

nav a {
  text-decoration: none;
  color: #272142;
  opacity: 70%;
  transition: all 100ms ease-in-out;
}

nav ul a:hover,
.active {
  color: var(--secondary-brand-color);
  opacity: 100%;
  font-weight: bold;
}

h1 {
  font-family: var(--headline-font-family);
  font-size: 96px;
  font-weight: bold;
}

h2 {
  font-family: var(--headline-font-family);
  font-weight: bold;
  font-size: 36px;
}

h4 {
  font-family: var(--headline-font-family);
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

p {
  font-family: var(--main-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

img {
  margin: 10px;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--main-brand-color);
}

.logo {
  font-size: 24px;
  font-family: var(--headline-font-family);
}

.logo-icon {
  color: var(--secondary-brand-color);
}

.hero {
  text-align: center;
  background-color: var(--main-brand-color);
  padding: 160px 20px;
}

.hero p {
  font-family: var(--main-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--main-font-family);
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.btn-contact {
  background-color: var(--secondary-brand-color);
  color: white;
  font-family: var(--main-font-family);
  font-weight: 400;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 4px;
}

.btn-contact:hover {
  color: var(--secondary-brand-color);
  border: 1px solid var(--secondary-brand-color);
}

.row {
  margin-top: 10px;
}

.project-content {
  margin: 10px 30px;
}

.project-description {
  margin: 15px 20px;
}

.app-btn {
  background-color: var(--main-brand-color);
  color: black;
  border: 1px solid black;
  padding: 8px 25px;
  transition: all 150ms ease-in-out;
}

.app-btn:hover {
  background-color: var(--secondary-brand-color);
  color: var(--main-brand-color);
}

.content-container {
  padding: 160px 70px;
}

.about-photo {
  max-width: 460px;
  border-radius: 10px;
}

.content h1 {
  font-size: 44px;
  font-family: var(--headline-font-family);
}

.work-headline {
  margin-bottom: 70px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--main-font-family);
  font-weight: bold;
}

.content h3 {
  font-size: 24px;
  text-align: center;
  font-family: var(--headline-font-family);
}

.content p {
  font-size: 16px;
  font-family: var(--main-font-family);
  line-height: 1.5;
  font-weight: normal;
}

.footer-box {
  margin: 50px 0;
  padding: 50px 100px;
  background: var(--main-brand-color);
  border-radius: 6px;
}

.footer-box p {
  margin: 0;
  font-family: var(--main-font-family);
}

.footer-bottom {
  text-align: center;
  font-size: 24px;
}

.footer-bottom a {
  text-decoration: none;
  font-family: var(--main-font-family);
  color: var(--secondary-brand-color);
  padding-bottom: 30px;
  transition: all 150ms ease-in-out;
}

.footer-bottom a:hover {
  color: black;
}

.footer-bottom i {
  padding: 10px;
  color: white;
  background: var(--secondary-brand-color);
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

.footer-bottom i:hover {
  color: var(--secondary-brand-color);
  background: var(--main-brand-color);
}

@media (max-width: 767px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 36px;
  }

  .hero h2 {
    font-size: 16px;
  }

  .hero p {
    font-size: 24px;
  }

  .hero {
    padding: 80px 10px;
  }

  p {
    margin: 0 0 15px;
  }

  .project-content {
    margin: 0;
  }

  .project-description {
    margin: 10px;
    text-align: center;
  }

  .project-content a {
    display: flex;
    justify-content: center;
  }

  .content-container {
    padding: 10px;
    text-align: center;
  }

  .about-photo {
    max-width: 300px;
    margin-top: 50px;
  }

  .content h1 {
    font-size: 36px;
  }

  .content h2 {
    font-size: 14px;
    font-family: var(--main-font-family);
    font-weight: bold;
  }

  .work-headline {
    margin-bottom: 10px;
  }

  .content p {
    font-size: 12px;
    margin-bottom: 30px;
  }

  nav li {
    margin-right: 10px;
    font-size: 14px;
  }

  .footer-bottom a {
    margin-top: 20px;
  }
}

@media (min-width: 993px) {
  .project-description {
    margin: 70px 20px;
  }
}
