:root {
  --headline-font-family: "Playfair Display", serif;
  --main-font-family: "Poppins", sans-serif;
  --main-brand-color: #f9f7fe;
  --secondary-brand-color: #6c63ff;
}

h1 {
  font-family: var(--headline-font-family);
  font-size: 96px;
  font-weight: bold;
}

h2 {
  font-family: var(--headline-font-family);
  font-weight: bold;
  font-size: 36px;
}

p {
  font-family: var(--main-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

img {
  margin: 10px 30px;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--main-brand-color);
}

.hero {
  text-align: center;
  background-color: var(--main-brand-color);
  padding: 160px 20px;
}

.hero p {
  font-family: var(--main-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--main-font-family);
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.btn-contact {
  background-color: var(--secondary-brand-color);
  color: white;
  font-family: var(--main-font-family);
  font-weight: 400;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 4px;
}

.btn-contact:hover {
  color: var(--secondary-brand-color);
  border: 1px solid var(--secondary-brand-color);
}

.row {
  margin-top: 10px;
}

.project-content {
  margin: 10px 30px;
}

.project-description {
  margin: 15px 20px;
}

.app-btn {
  background-color: var(--main-brand-color);
  color: var(--secondary-brand-color);
  border: 1px solid var(--secondary-brand-color);
  padding: 8px 25px;
  transition: all 150ms ease-in-out;
}

.app-btn:hover {
  background-color: var(--secondary-brand-color);
  color: var(--main-brand-color);
}

.about-section {
  padding: 160px 70px;
}

.about-photo {
  max-width: 460px;
  border-radius: 10px;
}

.about-section h1 {
  font-size: 44px;
  font-family: var(--headline-font-family);
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--main-font-family);
  font-weight: bold;
}

.about-section p {
  font-size: 16px;
  font-family: var(--main-font-family);
  line-height: 1.5;
  font-weight: normal;
}

@media (max-width: 767px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 36px;
  }

  .hero h2 {
    font-size: 16px;
  }

  .hero p {
    font-size: 24px;
  }

  .hero {
    padding: 80px 10px;
  }

  p {
    margin: 0 0 15px;
  }

  .project-content {
    margin: 0;
  }

  .project-description {
    margin: 10px;
    text-align: center;
  }

  .project-content a {
    display: flex;
    justify-content: center;
  }

  .about-section {
    padding: 10px;
    text-align: center;
  }

  .about-photo {
    max-width: 300px;
    margin-top: 50px;
  }

  .about-section h1 {
    font-size: 36px;
  }

  .about-section h2 {
    font-size: 14px;
    font-family: var(--main-font-family);
    font-weight: bold;
  }

  .about-section p {
    font-size: 12px;
    margin-bottom: 30px;
  }
}

@media (min-width: 993px) {
  .project-description {
    margin: 70px 20px;
  }
}
